{{header}}

include {{build}}/param_{{name}}.tex.mk
include {{build}}/deps_{{name}}.tex.mk

{{name}}.pdf: \
    $(TEX_FIG_{{name}}) \
    $(TEX_SRC_{{name}}) \
    $(BIBLIO_{{name}}) \
    $(HEADERS_{{name}}) \
    $(MAKES_{{name}})
    #
    make {{name}}
    @if [ -z "$(QUICK)" ]; then \{#
#}{% if hasbib %}
        cp $(BIBLIO_{{name}}) build && \
        ( cd {{build}} && bibtex {{name}} ) && \
        make {{name}}; \{#
#}{% endif %}
        make {{name}}; \
    fi
    cp {{build}}/{{name}}.pdf . &>/dev/null

{{name}}:
    make FILE={{name}}.tex compile

.PHONY: {{name}}

