{{header}}

TEXFLAGS = --halt-on-error --interaction=nonstopmode
TEXC = pdflatex $(TEXFLAGS)

compile:
    cd build && $(TEXC) $(FILE) | \
        grep -Ev 'texmf-dist|\.code\.tex|\.dict|^[^(]*\)' | \
        sed '/^[[:space:]]*$$/d'

build/%.pdf: build/%.tex
    make FILE=$$(basename $<) compile

texwatch:
    python3 .sylex/sylex.py make watcher

TARGET = all
loop: texwatch
    ./texwatch $(TARGET)

.PHONY: compile loop tar
