{{header}}

{% for src,dest in copy %}
{{dest}}: {{src}} sylex.conf
    $(BUILDER) expand \
        --i $< \
        --o $@ \
        --features $(FEATURES_{{name}})
{% endfor %}

{% for pre,post in extra %}
{{pre}}: {{post}} sylex.conf
{% endfor %}
