{{header}}

{% for group in groups %}
override {{group.label}}_{{name}} = \{#
#}{% for file in group.files %}
    {{group.map(file)}} \{#
#}{% endfor %}
    #
{% endfor %}

override MAKES_{{name}} = \
    {{build}}/pdf_{{name}}.tex.mk \
    {{build}}/param_{{name}}.tex.mk \
    {{build}}/deps_{{name}}.tex.mk \
    {{build}}/common.tex.mk \
    sylex.conf \
    Makefile \
    #


