# This is the main editable configuration file
# It can be safely edited, as once created it will not
# be overwritten.
#
# It should define
# - DOC: a list of documents to build
# It may define
# - TWICE: whether to compile twice by default
#          possible values: empty -> false / nonempty -> true
#          default value: nonempty
# - FEATURES: which options are passed to `sylex expand`
#             during conditional compilation

DOC = main

TWICE = true

FEATURES =
